<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; overflow: auto; flex: 1 1 0%;">
    <div class="form-loading-shade" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>

    <section fxFlex fxLayout="row">
        <section fxFlex></section>

        <mat-card fxFlex="97" fxLayout="column">
            <mat-tab-group>
                <mat-tab label="LUGAR">
                    <section fxflex="none" fxLayout="column" [formGroup]="principalForm">
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>FECHA</mat-label>
                                <input matInput [matDatepicker]="fecha_picker" autocomplete="off" (click)="fecha_picker.open()" formControlName="fecha" placeholder="FECHA" required>
                                <mat-datepicker-toggle matPrefix [for]="fecha_picker"></mat-datepicker-toggle>
                                <mat-datepicker #fecha_picker [disabled]="false"></mat-datepicker>
                                <mat-error *ngIf="principalForm.get('fecha').invalid && ( principalForm.get('fecha').dirty ||  principalForm.get('fecha').touched)">
                                    <span *ngIf="principalForm.get('fecha').hasError('pattern')">La FECHA es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>HORA</mat-label>
                                <input matInput formControlName="hora" placeholder="HH:MM" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('hora').invalid && ( principalForm.get('hora').dirty ||  principalForm.get('hora').touched)">
                                    <span *ngIf=" principalForm.get('hora').hasError('pattern')">La HORA es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>ENTIDAD</mat-label>
                                <mat-select formControlName="entidad" required>
                                    <mat-option [value]="1">CHIAPAS</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>MUNICIPIO</mat-label>
                                <mat-select formControlName="municipio" required>
                                    <mat-option *ngFor="let item of catalogos['Municipio']" [value]="item.id">{{ item.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>LOCALIDAD</mat-label>
                                <input matInput formControlName="localidad" placeholder="LOCALIDAD" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('localidad').invalid && ( principalForm.get('localidad').dirty ||  principalForm.get('localidad').touched)">
                                    <span *ngIf=" principalForm.get('localidad').hasError('pattern')">La LOCALIDAD es un campo obligatorio</span>
                                </mat-error>

                            </mat-form-field>

                        </div>

                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>COLONIA</mat-label>
                                <input matInput formControlName="colonia" placeholder="COLONIA" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('colonia').invalid && ( principalForm.get('colonia').dirty ||  principalForm.get('colonia').touched)">
                                    <span *ngIf=" principalForm.get('colonia').errors.required">El COLONIA es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>CALLE</mat-label>
                                <input matInput formControlName="calle" placeholder="CALLE" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('calle').invalid && ( principalForm.get('calle').dirty ||  principalForm.get('calle').touched)">
                                    <span *ngIf=" principalForm.get('calle').errors.required">El CALLE es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>N°</mat-label>
                                <input matInput formControlName="no" placeholder="No" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('no').invalid && ( principalForm.get('no').dirty ||  principalForm.get('no').touched)">
                                    <span *ngIf=" principalForm.get('no').errors.required">El No es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>LATITUD</mat-label>
                                <input matInput formControlName="latitud" placeholder="LATITUD" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('latitud').invalid && ( principalForm.get('latitud').dirty ||  principalForm.get('latitud').touched)">
                                    <span *ngIf=" principalForm.get('latitud').errors.required">El LATITUD es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>LONGITUD</mat-label>
                                <input matInput formControlName="longitud" placeholder="LONGITUD" required autocomplete="off">
                                <mat-error *ngIf=" principalForm.get('longitud').invalid && ( principalForm.get('longitud').dirty ||  principalForm.get('longitud').touched)">
                                    <span *ngIf=" principalForm.get('longitud').errors.required">El LONGITUD es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </section>
                    <section fxFlex="none" fxLayout="row" fxLayoutGap="5px">
                        <div fxFlex="none">
                            <button mat-raised-button color="primary" [disabled]="!principalForm.valid || isLoading" (click)="Guardar(1)"><mat-icon>save</mat-icon> Guardar</button>
                        </div>
                    </section>
                </mat-tab>
                <!--<mat-tab label="ZONA">
                    <section fxflex="none" fxLayout="column" [formGroup]="zonaForm">
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="fill">
                                <mat-label>Zona</mat-label>
                                <mat-select formControlName="zona" #zona required>
                                    <mat-option [value]="1">ZONA URBANA</mat-option>
                                    <mat-option [value]="2">ZONA SUBURBANA</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="50" fxFlex.xs="100" appearance="fill" *ngIf="zona.value == 1">
                                <section style="padding: 13px;">
                                    <mat-checkbox formControlName="carretera">CARRETERA ESTATAL</mat-checkbox>
                                </section>
                            </div>

                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" *ngIf="zona.value == 1">
                            <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                                <mat-label>¿Fue Intersección?</mat-label>
                                <mat-select formControlName="interseccion" required>
                                    <mat-option [value]="1">SI</mat-option>
                                    <mat-option [value]="2">NO</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                                <mat-label>Entre Calle</mat-label>
                                <input matInput formControlName="calle1" placeholder="Entre calle" required  autocomplete="off"> 
                                <mat-error *ngIf="zonaForm.get('calle1').invalid && (zonaForm.get('calle1').dirty || zonaForm.get('calle1').touched)">
                                    <span *ngIf="zonaForm.get('calle1').errors.required">El Nombre es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Y Calle</mat-label>
                                <input matInput formControlName="calle2" placeholder="Y calle" required  autocomplete="off">
                                <mat-error *ngIf="zonaForm.get('calle2').invalid && (zonaForm.get('calle2').dirty || zonaForm.get('calle2').touched)">
                                    <span *ngIf="zonaForm.get('calle2').errors.required">El Nombre es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" *ngIf="zona.value == 1">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Punto de Referencia</mat-label>
                                <input matInput formControlName="referencia" placeholder="Referencia" required  autocomplete="off">
                                <mat-error *ngIf="zonaForm.get('referencia').invalid && (zonaForm.get('referencia').dirty || zonaForm.get('referencia').touched)">
                                    <span *ngIf="zonaForm.get('referencia').errors.required">El Nombre es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" *ngIf="zona.value == 2">
                            <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                                <mat-label>Tipo Camino</mat-label>
                                <mat-select formControlName="tipo_camino" #tipoCamino required>
                                    <mat-option [value]="1">CAMINO RURAL</mat-option>
                                    <mat-option [value]="2">CARRETERA ESTATAL</mat-option>
                                    <mat-option [value]="3">OTRO</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex *ngIf="tipoCamino.value == 3">
                                <mat-label>Otro Camino</mat-label>
                                <input matInput formControlName="otro_camino" placeholder="Otro Camino" required  autocomplete="off">
                                <mat-error *ngIf="zonaForm.get('otro_camino').invalid && (zonaForm.get('otro_camino').dirty || zonaForm.get('otro_camino').touched)">
                                    <span *ngIf="zonaForm.get('otro_camino').errors.required">El Nombre es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex appearance="fill">
                                <mat-label>Via</mat-label>
                                <mat-select formControlName="via" required #via>
                                    <mat-option [value]="1">PAVIMENTADA</mat-option>
                                    <mat-option [value]="2">NO PAVIMENTADA</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="fill" *ngIf="via.value == 1">
                                <mat-label>Tipo Pavimentado</mat-label>
                                <mat-select formControlName="tipo_pavimentado" required>
                                    <mat-option [value]="1">ASFALTO</mat-option>
                                    <mat-option [value]="2">CONCRETO</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex  *ngIf="via.value == 2"  fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Tipo Via</mat-label>
                                    <mat-select formControlName="tipo_via" #tipoCamino (selectionChange)="campoOtro(tipoCamino.value)" required>
                                        <mat-option [value]="1">TERRACERIA</mat-option>
                                        <mat-option [value]="2">EMPEDRADO</mat-option>
                                        <mat-option [value]="3">OTRO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex appearance="fill" *ngIf="tipoCamino.value== 3">
                                    <mat-label>Otro Tipo de Via</mat-label>
                                    <input matInput formControlName="otro_tipo_via" placeholder="Otro Tipo Via" required  autocomplete="off">
                                    <mat-error *ngIf="zonaForm.get('otro_tipo_via').invalid && (zonaForm.get('otro_tipo_via').dirty || zonaForm.get('otro_tipo_via').touched)">
                                        <span *ngIf="zonaForm.get('otro_tipo_via').errors.required">El Nombre es un campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                        </div>
                       
                    </section>
                </mat-tab>
                <mat-tab label="TIPO">
                    <section fxflex="none" fxLayout="column" [formGroup]="tipoAccidenteForm">
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_1">Colisión con vehículo automotor</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_2">Atropellamiento</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_3">Colisión con animal</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_4">Colisión con objeto fijo</mat-checkbox>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_5">Volcadura</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_6">Caída de pasaje</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_7">Salida de camino</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_8">Incendio</mat-checkbox>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_9">Colisión con ferrocarril</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_10">Colisión con motocicleta</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_11">Colisión con ciclista</mat-checkbox>
                            </div>
                            <div fxFlex.xs="100" fxFlex>
                                <mat-checkbox formControlName="tipoAccidente_12" #otroTipoAccidente>Otro</mat-checkbox>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" *ngIf="otroTipoAccidente.checked == true">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Otro Tipo Accidente</mat-label>
                                <input matInput formControlName="otro_accidente" placeholder="Otro Tipo Accidente">
                                
                            </mat-form-field>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                            <button mat-raised-button color="primary" (click)="showVehiculoDialog(null)"><mat-icon>add_circle</mat-icon>AGREGAR VEHICULO</button>
                        </div>
                        <div class="data-container ">
                            <div class="data-table-container">
                                <table #dataTable mat-table [dataSource]="dataSourceVehiculos" class="data-table" matSort>
                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                        <td mat-cell *matCellDef="let row">
                                            {{ row.dataTipovehiculo }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="marca">
                                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Marca / Modelo </th>
                                        <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                            {{ row.dataVehiculo }} {{ row.modelo }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="placas">
                                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Placas </th>
                                        <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                            <div *ngIf="row.tiene_placas == 1">
                                                {{ row.no_placa }}
                                                <div *ngIf="row.tipo == 1">
                                                    {{ row.dataEstado}}
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ocupantes">
                                        <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Ocupantes </th>
                                        <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                            {{row.no_ocupantes}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                        <td mat-cell *matCellDef="let row; let i = index">
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
        
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="eliminarVehiculo(row.id)"><mat-icon color="primary">delete</mat-icon>ELIMINAR</button>
                                                <button mat-menu-item (click)="editarVehiculo(row, i)"><mat-icon  color="primary">edit</mat-icon>EDITAR</button>
                                            </mat-menu>
        
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="noResultsFound">
                                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                            No se encontraron registros
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                                    <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(datosVehiculo!=null && datosVehiculo.length==0)}"></tr>
                                </table>
                            </div>

                        </div>
                    </section>
                </mat-tab>
                <mat-tab label="CAUSAS" [formGroup]="causasForm">
                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_1" #chkConductor>Conductor</mat-checkbox>

                        </div>
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_2" #chkPeaton>Peatón</mat-checkbox>
                        </div>
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_3" #chkPasajero>Pasajero</mat-checkbox>
                        </div>
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_4" #chkFalla>Falla del Vehiculo</mat-checkbox>
                        </div>
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_5" #chkCamino>Condición del camino</mat-checkbox>
                        </div>
                        <div fxFlex.xs="100" fxFlex>
                            <mat-checkbox formControlName="causas_6" #chkAgente>Agentes Naturales</mat-checkbox>
                        </div>
                    </div>
                    <mat-tab-group>
                        <mat-tab label="CONDUCTOR"  *ngIf="chkConductor.checked">
                            <section fxflex="none" fxLayout="column" [formGroup]="tipoConductorForm">
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                    <div fxFlex.xs="100" fxFlex>
                                        <ul>
                                            <li>
                                                <mat-checkbox formControlName="tipo_1">Iba a exceso de velocidad</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_2">No cedió el paso</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_3">Dormitando</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_4">Invadió el carril contrario</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="otro_tipo" #otroCausa>Otro</mat-checkbox>
                                            </li>
                                        </ul>        
                                        
                                    </div>
                                    <div fxFlex.xs="100" fxFlex>
                                        <ul>
                                            <li>
                                                <mat-checkbox formControlName="tipo_5">No guardó distancia</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_6">Utilizaba el teléfono móvil</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_7">Rebasó indebidamente</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_8">Viró indebidamente</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                    <div fxFlex.xs="100" fxFlex>
                                        <ul>
                                            <li>
                                                <mat-checkbox formControlName="tipo_9">No respetó las señales viales</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_10">Deslumbramiento</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_11">No respetó el semáforo</mat-checkbox>
                                            </li>
                                            <li>
                                                <mat-checkbox formControlName="tipo_12">Presumible estado de ebriedad</mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                
                               
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="3px" *ngIf="otroCausa.checked">
                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>Otro</mat-label>
                                        <input matInput formControlName="otro" placeholder="Otro" required>
                                        <mat-error *ngIf="tipoConductorForm.get('otro').invalid && (tipoConductorForm.get('otro').dirty || tipoConductorForm.get('otro').touched)">
                                            <span *ngIf="tipoConductorForm.get('otro').errors.required">El Otro es un campo obligatorio</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="3px">
                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select formControlName="sexo" required>
                                            <mat-option [value]="1">HOMBRE</mat-option>
                                            <mat-option [value]="2">MUJER</mat-option>
                                            <mat-option [value]="3">SE FUGÓ</mat-option>
                                            <mat-option [value]="4">SE IGNORA</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>Aliento Alcoholico</mat-label>
                                        <mat-select formControlName="aliento_alcoholico" required>
                                            <mat-option [value]="1">SI</mat-option>
                                            <mat-option [value]="2">NO</mat-option>
                                            <mat-option [value]="3">SE IGNORA</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field fxFlex appearance="fill">
                                        <mat-label>Usaba Cinturon de Seguridad</mat-label>
                                        <mat-select formControlName="cinturon_seguridad" required>
                                            <mat-option [value]="1">SI</mat-option>
                                            <mat-option [value]="2">NO</mat-option>
                                            <mat-option [value]="3">SE IGNORA</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" fxFlex>
                                        <mat-label>Edad</mat-label>
                                        <input matInput formControlName="edad" placeholder="Edad" autocomplete="off">
                                        
                                    </mat-form-field>
                                    
                                </div>
                            </section>
                        </mat-tab>
                        <mat-tab label="PEATÓN"  [formGroup]="tipoPeatonForm"  *ngIf="chkPeaton.checked">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_1">Cruzó la calle inapropiadamente</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_2">Subía o bajaba del vehículo</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">    
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_3">No respetó el semáforo</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">  
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_4">Presumible estado de ebriedad</mat-checkbox>
                                </div>  
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">  
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_5">Empujaba o trabajaba en el vehículo</mat-checkbox>
                                </div>  
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">  
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="otro" #chkPeatonOtro>Otro</mat-checkbox>
                                </div>  
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente" *ngIf="chkPeatonOtro.checked">  
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-form-field appearance="fill" fxFlex>
                                        <mat-label>Descripción Otro</mat-label>
                                        <input matInput formControlName="descripcion_otro" placeholder="Descripcion " required>
                                        <mat-error *ngIf="tipoPeatonForm.get('descripcion_otro').invalid && (tipoPeatonForm.get('descripcion_otro').dirty || tipoPeatonForm.get('descripcion_otro').touched)">
                                            <span *ngIf="tipoPeatonForm.get('descripcion_otro').errors.required">El Otro es un campo obligatorio</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>  
                            </div>
                            
                        </mat-tab>
                        <mat-tab label="PASAJERO"  *ngIf="chkPasajero.checked" [formGroup]="tipoPasajeroForm">
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>¿Cómo fue que el pasajero causo el accidente?</mat-label>
                                <textarea matInput 
                                    placeholder="Causa" 
                                    formControlName="causa_pasajero" 
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="5"
                                    cdkAutosizeMaxRows="5"
                                    >
                                </textarea>
                                
                                <mat-error *ngIf="tipoPasajeroForm.get('causa_pasajero').invalid && (tipoPasajeroForm.get('causa_pasajero').dirty || tipoPasajeroForm.get('causa_pasajero').touched)">
                                    <span *ngIf="tipoPasajeroForm.get('causa_pasajero').errors.required">El Nombre es un campo obligatorio</span>
                                </mat-error>
                            </mat-form-field>
                        </mat-tab>
                        <mat-tab label="FALLA DE VEHICULO"  *ngIf="chkFalla.checked" [formGroup]="fallaForm">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_1">Llantas</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_2">Ejes</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_3">Frenos</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_4">Transmisión</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_5">Dirección</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_6">Motor</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_7">Suspensión</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_8">Sobrecarga</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_9">Luces</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="tipo_10">Exceso de dimensiones</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex="50">
                                    <mat-checkbox formControlName="otro" #chkFallaOtro>Otro</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex="50" *ngIf="chkFallaOtro.checked">
                                    <mat-form-field appearance="fill" fxFlex>
                                        <mat-label>Descripción Otro</mat-label>
                                        <input matInput formControlName="descripcion_otro" placeholder="Descripcion " required>
                                        <mat-error *ngIf="fallaForm.get('descripcion_otro').invalid && (fallaForm.get('descripcion_otro').dirty || fallaForm.get('descripcion_otro').touched)">
                                            <span *ngIf="fallaForm.get('descripcion_otro').errors.required">Otro es un campo obligatorio</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>  
                        </mat-tab>
                        <mat-tab label="CONDICIONES DE CAMINO"  *ngIf="chkCamino.checked" [formGroup]="caminoForm">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_1">Mala condición de la vía</mat-checkbox>
                                </div>
                            </div>    
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_2">Falta de señales</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_3">Objetos en el camino</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_4">Camino mojado o encharcado (vía mojada)</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_5">Vía resbalosa /presenta un riesgo de resbalar<br>fácilmente/provoca falta de adherencia del vehículo</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_6">Obstrucción de la vía por animales</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="otro" #chkCondicionOtro>Otro</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente" *ngIf="chkCondicionOtro.checked">
                                <mat-form-field appearance="fill" fxFlex>
                                    <mat-label>Descripción Otro</mat-label>
                                    <input matInput formControlName="descripcion_otro" placeholder="Descripcion " required>
                                    <mat-error *ngIf="caminoForm.get('descripcion_otro').invalid && (caminoForm.get('descripcion_otro').dirty || caminoForm.get('descripcion_otro').touched)">
                                        <span *ngIf="caminoForm.get('descripcion_otro').errors.required">Otro es un campo obligatorio</span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="AGENTES NATURALES"  *ngIf="chkAgente.checked" [formGroup]="agentesForm">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_1">Llovizna</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_2">Neblina</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_3">Lluvia</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_4">Humo</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_5">Aguacero</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_6">Tolvanera</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_7">Nieve</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_8">Vientos fuertes</mat-checkbox>
                                </div>
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="tipo_9">Granizo</mat-checkbox>
                                </div>
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-checkbox formControlName="otro" #chkAgenteOtro>Otro</mat-checkbox>
                                </div>
                                
                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px" class="listaAccidente">
                                <div fxFlex.xs="100" fxFlex>
                                    <mat-form-field appearance="fill" fxFlex *ngIf="chkAgenteOtro.checked">
                                        <mat-label>Descripción Otro</mat-label>
                                        <input matInput formControlName="descripcion_otro" placeholder="Descripcion ">
                                        <mat-error *ngIf="agentesForm.get('descripcion_otro').invalid && (agentesForm.get('descripcion_otro').dirty || agentesForm.get('descripcion_otro').touched)">
                                            <span *ngIf="agentesForm.get('descripcion_otro').errors.required">Otro es un campo obligatorio</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>        
                        </mat-tab>
                      </mat-tab-group>
                </mat-tab>
                <mat-tab label="VICTIMAS">
                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                        <button mat-raised-button color="primary" (click)="showVictimaDialog(null)"><mat-icon>add_circle</mat-icon>AGREGAR VICTIMA</button>
                    </div>
                    <div class="data-container ">
                        <div class="data-table-container">
                            <table #dataTable mat-table [dataSource]="dataSourceVictima" class="data-table" matSort>
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{ row.dataTipovictima }}
                                        <div *ngIf="row.tipo == 2">
                                            {{ row.dataValidacion }} - {{ row.no_acta_certificado }}
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Nombre </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                        <div *ngIf="row.ignora_nombre != null">
                                            SE IGNORA
                                        </div>
                                        <div *ngIf="row.ignora_nombre == null">
                                            {{ row.nombre }} {{ row.apellido_paterno }} {{ row.apellido_materno }}
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Usuario </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                        {{ row.dataTipousuario }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="hospitalizacion">
                                    <th mat-header-cell *matHeaderCellDef fxHide.xs="true"> Hospitalizacion </th>
                                    <td mat-cell *matCellDef="let row" fxHide.xs="true">
                                        {{row.unidad}}

                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <button mat-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
    
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="editarVictima(row, i)"><mat-icon  color="primary">edit</mat-icon>EDITAR</button>
                                            <button mat-menu-item (click)="eliminarVictima(row.id)"><mat-icon color="primary">delete</mat-icon>ELIMINAR</button>
                                            
                                        </mat-menu>
    
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noResultsFound">
                                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                        No se encontraron registros
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                                <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

                                <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(datosVictima!=null && datosVictima.length==0)}"></tr>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="FOTOGRAFIAS"> Content 3 </mat-tab>-->
            </mat-tab-group>

            

        </mat-card>
        <section fxFlex></section>
    </section>

</section>