<section fxFlex="100" fxFlex.xs="100">
    <div>VICTIMA INCIDENTE</div>

    <mat-tab-group>
        <div [formGroup]="VictimaForm">

            <mat-tab label="DATOS GENERALES">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo_id" #tipoIncidente required>
                            <mat-option *ngFor="let item of tipo_victima" [value]="item.id">{{ item.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill" *ngIf="tipoIncidente.value == 2">
                        <mat-label>Certificado ó Acta</mat-label>
                        <mat-select formControlName="acta_certificacion_id">
                            <mat-option *ngFor="let item of validacion" [value]="item.id">{{ item.descripcion}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill" *ngIf="tipoIncidente.value == 2">
                        <mat-label>Número</mat-label>
                        <input matInput formControlName="no_acta_certificacion" placeholder="No" autocomplete="disabled">

                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>Omisión del nombre</mat-label>
                        <mat-select formControlName="anonimo" #anonimo>
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px" *ngIf="anonimo.value == 2">
                    <mat-form-field fxFlex="30" fxFlex.xs="100" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" placeholder="Nombre" autocomplete="disabled">
                    </mat-form-field>

                    <mat-form-field fxFlex="35" fxFlex.xs="100" appearance="fill">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="apellido_paterno" placeholder="Apellido Paterno" autocomplete="disabled">

                    </mat-form-field>

                    <mat-form-field fxFlex="35" fxFlex.xs="100" appearance="fill">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellido_materno" placeholder="Apellido Materno" autocomplete="disabled">

                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="10" fxFlex.xs="100" appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input matInput min="0" max="100" type="number" formControlName="edad" #edadVictima placeholder="Edad">

                    </mat-form-field>
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill" *ngIf="edadVictima.value <=11 && edadVictima.value !=''">
                        <mat-label>Silla para infantes</mat-label>
                        <mat-select formControlName="silla_id">
                            <mat-option *ngFor="let item of silla" [value]="item.id">{{ item.descripcion}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo_id" #sexoForm>
                            <mat-option *ngFor="let item of sexo" [value]="item.id">{{ item.descripcion}}</mat-option>
                        </mat-select>

                    </mat-form-field>

                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill" *ngIf="sexoForm.value == 2">
                        <mat-label>Embarazada</mat-label>
                        <mat-select formControlName="embarazada">
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>
                        </mat-select>

                    </mat-form-field>

                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>Tipo de usuario</mat-label>
                        <mat-select formControlName="tipo_usuario_id" #tipoUsuario>
                            <mat-option *ngFor="let item of tipo_usuario" [value]="item.id">{{ item.descripcion}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill" *ngIf="tipoUsuario.value ==5">
                        <mat-label>¿Llevaba puesto el casco?</mat-label>
                        <mat-select formControlName="casco">
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="1">NO</mat-option>
                        </mat-select>

                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex fxFlex.xs="50" appearance="fill">
                        <mat-label>Pre Hospitalización</mat-label>
                        <mat-select formControlName="pre_hospitalizacion" #preHospitalizacion>
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>

                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex fxFlex.xs="50" appearance="fill">
                        <mat-label>Hospitalización</mat-label>
                        <mat-select formControlName="hospitalizacion" #Hospitalizacion>
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px" *ngIf="Hospitalizacion.value == 1">
                    <mat-form-field fxFlex="30" fxFlex.xs="100" appearance="fill">
                        <mat-label>Municipio (Hospital)</mat-label>
                        <mat-select formControlName="municipio_hospitalizacion" #unidadMedica (selectionChange)="unidadMunicipio(unidadMedica.value)">
                            <mat-option *ngFor="let item of listaMunicipios" [value]="item.id">{{ item.descripcion }}</mat-option>

                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex="70" fxFlex.xs="100" appearance="fill">
                        <mat-label>Unidad (Hospitalización)</mat-label>
                        <mat-select formControlName="clues">
                            <mat-option *ngFor="let item of listaUnidades" [value]="item.clues">{{ item.clues }} - {{ item.descripcion }} ({{ item.clave_institucion }})</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="PREHOSPITALARIO" *ngIf="preHospitalizacion.value == 1">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                        <mat-label>Número de Ambulancia</mat-label>
                        <input matInput formControlName="no_ambulancia" placeholder="No de Ambulancia">

                    </mat-form-field>
                    <mat-form-field fxFlex="60" fxFlex.xs="100" appearance="fill">
                        <mat-label>Prestador de Servicio</mat-label>
                        <mat-select formControlName="prestador_servicio" #datoPrestadorServicio>
                            <mat-option *ngFor="let item of prestadorServicio" [value]="item.id">{{ item.descripcion }}</mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px" *ngIf="datoPrestadorServicio.value == 10">
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>Otro Prestador de Servicio</mat-label>
                        <input matInput formControlName="otro_prestador" placeholder="Prestador">

                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                        <mat-label>Nivel de Conciencia</mat-label>
                        <mat-select formControlName="nivel_conciencia">
                            <mat-option *ngFor="let item of nivelConciencia" [value]="item.id">{{ item.descripcion }}</mat-option>

                        </mat-select>

                    </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="100" appearance="fill">
                        <mat-label>Presencia de pulso</mat-label>
                        <mat-select formControlName="pulso">
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="40" fxFlex.xs="100" appearance="fill">
                        <mat-label>Color de Piel</mat-label>
                        <mat-select formControlName="color_piel">
                            <mat-option [value]="1">NORMAL</mat-option>
                            <mat-option [value]="2">PÁLIDA</mat-option>
                            <mat-option [value]="3">CIANÓTICA (AZUL, MORADA O NEGRUZCA)</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="fill">
                        <mat-label>Prioridad del Traslado</mat-label>
                        <mat-select formControlName="prioridad_traslado">
                            <mat-option [value]="1">ROJO</mat-option>
                            <mat-option [value]="2">AMARILLA</mat-option>
                            <mat-option [value]="3">VERDE</mat-option>
                            <mat-option [value]="4">NEGRO</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" fxFlex.xs="100" appearance="fill">
                        <mat-label>Negativa al Traslado</mat-label>
                        <mat-select formControlName="negativa_traslado" #traslado>
                            <mat-option [value]="1">SI</mat-option>
                            <mat-option [value]="2">NO</mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px" *ngIf="traslado.value == 1">
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>Especifique Negativa</mat-label>
                        <input matInput formControlName="especifique_negativa" placeholder="Especifique negativa">

                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                    <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                        <mat-label>DIAGNOSTICO</mat-label>
                        <input matInput formControlName="diagnostico" placeholder="Diagnotico Prehospitalario">

                    </mat-form-field>
                </div>
            </mat-tab>

            <mat-tab label="UBICACIÓN">
                <section fxflex="none" fxLayout="column">
                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                        <div fxFlex="50">
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>VEHICULO:</mat-label>
                                    <mat-select formControlName="vehiculo_id">
                                        <mat-option *ngFor="let item of listaVehiculos" [value]="item.id">
                                          
                                            {{ item.tipo.descripcion }} {{ item.otro_tipo_vehiculo }}
                                            <a *ngIf="item.marca">
                                                {{ item.marca.descripcion }}
                                            </a>
                                            <a *ngIf="!item.marca">
                                                {{ item.otra_marca }}
                                            </a>
                                              {{ item.no_placa }}
                                        </mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex="100" fxFlex.xs="100" appearance="fill">
                                    <mat-label>Ubicación</mat-label>
                                    <input type="number" min="1" max="11" matInput formControlName="ubicacion" placeholder="Ubicacion" autocomplete="disabled">
                                </mat-form-field>

                            </div>
                            <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                                <div fxFlex="100">
                                    <img src="assets/registro/ubicacion_tabla.png" width="100%">
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxFlex="100">
                                <img src="assets/registro/ubicacion_auto.png" width="50%" style="margin-left: 25%;">
                            </div>
                        </div>


                    </div>

                </section>

            </mat-tab>
        </div>
        <mat-tab label="LESIONES" *ngIf="tipoIncidente.value == 1" style="overflow-x:hidden">
            <section fxflex="none" fxLayout="column" [formGroup]="DefuncionForm" style="overflow-x:hidden">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" style="margin-top:10px;overflow-x:hidden">
                    <div fxFlex="50" fxFlex.xs="50">
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                            <div fxFlex="100" fxFlex.xs="100">
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>TÉRMINOS DIRECCIONALES:</mat-label>
                                    <mat-select formControlName="orientacion" #orienta required (selectionChange)="direccion(orienta.value)">
                                        <mat-option [value]="1">ANTERIOR</mat-option>
                                        <mat-option [value]="2">POSTERIOR</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                            <div fxFlex="100" fxFlex.xs="100">
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>PLANO ANATÓMICO:</mat-label>
                                    <mat-select formControlName="plano" required #planos (selectionChange)="plano(planos.value)">
                                        <mat-option [value]="1">SUPERIOR</mat-option>
                                        <mat-option [value]="2">CENTRAL</mat-option>
                                        <mat-option [value]="3">INFERIOR</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                            <div fxFlex="100" fxFlex.xs="100">
                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>PARTE:</mat-label>
                                    <mat-select formControlName="parte" required>
                                        <mat-option *ngFor="let item of partes" [value]="item.id">{{ item.descripcion }}</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                            <div fxFlex="100" fxFlex.xs="100">
                                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                                    <ul>
                                        <li>
                                            <mat-checkbox formControlName="op_1" #op_1>QUEMADURA</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="op_2" #op_2>FRACTURA / LUXACIÓN</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="op_3" #op_3>HERIDA / EXCORIACIÓN</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="op_4" #op_4>CONTUSIÓN / TRAUMATISMO</mat-checkbox>
                                        </li>
                                        <li>
                                            <mat-checkbox formControlName="op_5" #op_5>AMPUTACIÓN</mat-checkbox>
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3px">
                            <button mat-raised-button color="accent" (click)="agregarLesion()">
                                <mat-icon>add</mat-icon> AGREGAR
                              </button>

                        </div>
                    </div>
                    <div fxFlex="50" fxFlex.xs="50">
                        <div *ngIf="orienta.value==1 && planos.value ==1">
                            <img src="assets/registro/frente_superior.png" width="100%">
                        </div>
                        <div *ngIf="orienta.value==1 && planos.value ==2">
                            <img src="assets/registro/frente_centro.png" width="100%">
                        </div>
                        <div *ngIf="orienta.value==1 && planos.value ==3">
                            <img src="assets/registro/frente_inferior.png" width="100%">
                        </div>
                        <div *ngIf="orienta.value==2 && planos.value ==1">
                            <img src="assets/registro/atras_superior.png" width="100%">
                        </div>
                        <div *ngIf="orienta.value==2 && planos.value ==2">
                            <img src="assets/registro/atras_central.png" width="100%">
                        </div>

                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let item of seleccionados; let i = index" (click)="editarLesion(i)" style="cursor: pointer;">
                                {{ item.descripcion }}
                                <button matChipRemove (click)="elimnaSeleccion(item.parte)">
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </section>
        </mat-tab>
    </mat-tab-group>
    <hr>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="guardar()" [disabled]="!VictimaForm.valid">GUARDAR</button>
    </div>
</section>